/* 
Grid
*/
section.grid {

	h2 {
		text-align: center;
	}


	.item {
		margin-bottom: 2em;
		position: relative;

		.text-content {
			position: absolute;
			bottom: 0.5rem;

			h3 {
				background: rgba(255,255,255,0.8);
				font-size: 2em;
				padding: 1rem 2rem 1rem 1rem;

				a {
					color: #333;
				}
			}

		}

		.image-content {

		}

	}

}