/**
 * Christ Church Raleigh
 * Utilizes Bluejay by Kaleb Heitzman
 *
 * Theme by Kaleb Heitzman
 * Copyright 2016
 */

/**
 * Import Bluejay
 */
@import 'bluejay/src/bluejay';

// variables
$wrapper: 70rem;
$gutter: 0.5rem;

// fonts
@import url(https://fonts.googleapis.com/css?family=Raleway);

html {
	font-family: Raleway, sans-serif;
}

/**
 * Generate an automatic 5 column grid for prototyping that is mobile-first.
 * This includes all column, push, and pull classes.
 */
@include grid(5);

/**
 * Form Styles
 */

form {
	@include form;

	div.row {
		margin-top: 0.75em;
		margin-bottom: 0.75em;
	}
}

/**
 * Button Styles
 */

@include buttons();

.btn-green {
	@include button($btn-green);
}
.btn-blue {
	@include button($btn-blue);
}
.btn-yellow{
	@include button($btn-yellow);
}
.btn-red {
	@include button($btn-red);
}
.btn-default {
	@include button($btn-default);
}

/**
 * Table Styles
 */

table {
	@include table;
}

/**
 * Menu Styles
 */

ul.horizontal-menu {
	@include horizontal-menu;
}

ul.menu {
	@include menu;
}

ul.nav-menu {
	@include nav-menu;
}

/**
 * Custom Styles
 */

.row {
	margin: 0 auto;
	@include mq($mq-md) {
		padding: 2em 0;
	}

	.row {
		width: 100%;
		padding: 0;
	}
}

/* Page Header
 */
header#mastead {

}

ul.nav-menu li a {
	line-height: 80px;
}

/* Page Main Content
 */
main#content {

}

/* Page Colophon
 */
section#colophon {

	.menu a {
		padding-left: 0;
		padding-right: 0;
	}

}

/* Page Footer
 */
footer#copyright {

	.copyright {
		@include col;
		@include mq($mq-md) {
				@include col(1/2);
		}

	}
	.social {
		@include col;
		@include mq($mq-md) {
			@include col(1/2);
		}

		ul {
			list-style: none;


			li {
				display: inline-block;
				margin-left: 0.75em;

				a {
					color: #777;

					&:hover {
						color: #999;
					}
				}
			}
		}
	}

}

#brandr {
	padding-top: 0;
	padding-bottom: 0;
	text-align: right;
	background: #222;
	color: #555;

	a {
		color: #777;

		&:hover {
			color: #999;
		}
	}
}

/* Media Queries
*/
@import 'media-queries';
