/**
 * Christ Church Raleigh
 * Utilizes Bluejay by Kaleb Heitzman
 *
 * Theme by Kaleb Heitzman
 * Copyright 2016
 */

 // fontawesome
 @import '../bower_components/components-font-awesome/css/font-awesome.css';

/**
 * Import Bluejay
 */
@import 'bluejay/src/bluejay';

// variables
$wrapper: 70rem;
$gutter: 2rem;

// fonts
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

html {
	font-family: Lato, sans-serif;
}

/**
 * Generate an automatic 12 column grid for prototyping that is mobile-first.
 * This includes all column, push, and pull classes.
 */
@include grid(12);

/**
 * Form Styles
 */

form {
	@include form;

	div.row {
		margin-top: 0.75em;
		margin-bottom: 0.75em;
	}
}

/**
 * Button Styles
 */

@include buttons();

.btn-green {
	@include button($btn-green);
}
.btn-blue {
	@include button($btn-blue);
}
.btn-yellow{
	@include button($btn-yellow);
}
.btn-red {
	@include button($btn-red);
}
.btn-default {
	@include button($btn-default);
}

/**
 * Table Styles
 */

table {
	@include table;
}

/**
 * Menu Styles
 */

ul.horizontal-menu {
	@include horizontal-menu;
}

ul.menu {
	@include menu;
}

ul.nav-menu {
	@include nav-menu;
}

/**
 * Custom Styles
 */

.row {
	margin: 0 auto;
	@include mq($mq-md) {
		padding: 2em 0;
	}

	.row {
		width: 100%;
		padding: 0;
	}
}

/* Page Header
 */
header#mastead {

}

nav.row {
	padding-bottom: 1em;
}

ul.nav-menu li a {
	line-height: 80px;
}

/* Page Main Content
 */
main#content {

}

$arrow-box-background: rgba(255,255,255,1);

/* plain_box */
.plain_box {
	color: #333;
	position: relative;
	background: $arrow-box-background;
	border: 1px solid $arrow-box-background;
	margin-top: 1em !important;
}

/* arrow box */
.arrow_box {
	color: #333;
	position: relative;
	background: $arrow-box-background;
	border: 1px solid $arrow-box-background;
	border-radius: 3px;
	margin-bottom: 1.5em;

	@include mq($mq-md) {
		margin-bottom: 0;
	}
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: $arrow-box-background;
	border-width: 25px;
	margin-left: -25px;
}
.arrow_box:before {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: $arrow-box-background;
	border-width: 26px;
	margin-left: -26px;
}

/* Highlights */
.highlights {

	ul {
		list-style: none;
		padding: 0;
	}
}

/* Page Colophon
 */
section#colophon {

	.menu a {
		padding-left: 0;
		padding-right: 0;
	}

}

/* Page Footer
 */
footer#copyright {

	.copyright {
		@include col;
		@include mq($mq-md) {
				@include col(1/2);
		}

	}
	.social {
		@include col;
		@include mq($mq-md) {
			@include col(1/2);
		}

		ul {
			list-style: none;


			li {
				display: inline-block;
				margin-left: 0.75em;

				a {
					color: #777;

					&:hover {
						color: #999;
					}
				}
			}
		}
	}

}

#brandr {
	padding-top: 0;
	padding-bottom: 0;
	text-align: right;
	background: #222;
	color: #555;

	a {
		color: #777;

		&:hover {
			color: #999;
		}
	}
}

/* Modular Styles
 */
@import 'modular-styles';
@import 'contact';

/* Home page
 */
@import 'slider';

/* Media Queries
*/
@import 'media-queries';
