<section class="callout container">
	<div class="content">
		<h2>{{ page.title }}</h2>
		{{ page.content }}
	</div>
	<div class="image">
		{% set image = page.media.images|first %}
		{{ image.cropZoom(500,300).html('','','') }}
	</div>
</section>