<section class="events">
	
	<div class="content">
		<h2 class="center">{{ page.title }}</h2>
		{{ page.content }}
	</div>

	{% set params = page.header.acs %}
	{% set events = acs.getFSListOfEvents(params) %}

	{#% include "partials/calendar.html.twig" with { 'events': events } %#}
	<div class="acs-events-module">
		{% include "partials/events-listing.html.twig" with { 'events': events } %}
	</div>

</section>