{{ page.content }}

<ul>
	{% for highlight in page.header.highlights %}
		<li>
			<i class="fa fa-{{ highlight.icon }} fa-5x"></i>
			<h3>{{ highlight.title }}</h3>
			<div>{{ highlight.content }}</div>
		</li>
	{% endfor %}
</ul>