{# I prefer adding some sort of section title in the editor for a callout #}
{# <h3>{{ page.title }}</h3> #}
<div>
	<h3>{{ page.title }}</h3>
	<strong>{{ header.team.position }}</strong><br />
	{{ header.team.organization }}
</div>