<section id="colophon" class="colophon" role="complementary">

    <div class="container">

        <div class="left-column">
            <h2>Milestones</h2>
            <ul>
                <li><a href="#!">Births</a></li>
                <li><a href="#!">Baptisms + Confirmation</a></li>
                <li><a href="#!">Weddings</a></li>
                <li><a href="#!">Funerals</a></li>
            </ul>

            <h2>Contact Us</h2>
            <ul>
                <li><a href="#!">Clergy, Staff, &amp; Vestry</a></li>
            </ul>

            <ul>
                <li>Christ Church Raleigh<br />
                120 E Edenton St<br />
                Raleigh, NC 27601</li>
            </ul>
        </div>

        <div class="right-column">
            <h2>Worship Times</h2>

            <div class="sundays">
                <h3>Sundays</h3>
                <ul>
                    <li class="time">8 a.m. &mdash; Chapel</li>
                    <li class="description">Holy Eucharist (Rite I, spoken)</li>
                    <li class="time">9 a.m. &mdash; Church</li>
                    <li class="description">Holy Eucharist (Rite II)</li>
                    <li class="time">11 a.m. &mdash; Church</li>
                    <li class="description">Holy Eucharist (Rite I)</li>
                    <li class="time">5 p.m. &mdash; Church</li>
                    <li class="description">Celtic Eucharist</li>
                </ul>
            </div>

            <div class="weekdays">
                <h3>Weekdays</h3>
                <ul>
                    <li class="time">8 a.m.</li>
                    <li class="description">Daily Prayer (Monday, Wednesday, Thursday, Friday)</li>
                    <li class="time">Tuesdays - 8:05 a.m.</li>
                    <li class="description">Holy Eucharist (with Prayers for Healing) - Chapel</li>
                </ul>
            </div>
        </div>

    </div><!--.container-->
</section><!--/colophon-->
