<section id="colophon" role="complementary">
    <div class="row">

        <div class="col-1-5">
            <a href="{{ base_url_absolute }}">
                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt={{ site.title }}&w=350&h=150&bg=0065ff&txtcolor=fff" class="logo" />
            </a>
        </div>

        <div class="col-1-5">
            <h3>Latest News</h3>
            <ul class="menu">
                <li><a href="#">News Item 1</a></li>
                <li><a href="#">News Item 2</a></li>
                <li><a href="#">News Item 3</a></li>
                <li><a href="#">News Item 4</a></li>
            </ul>
        </div>

        <div class="col-1-5">
            <h3>Upcoming Events</h3>
            <ul class="menu">
                <li><a href="#">Event 1</a></li>
                <li><a href="#">Event 2</a></li>
                <li><a href="#">Event 3</a></li>
                <li><a href="#">Event 4</a></li>
                <li><a href="#">Event 5</a></li>
                <li><a href="#">Event 6</a></li>
            </ul>
        </div>

        <div class="col-2-5">
            <h3>Located on Capitol Hill, Downtown Raleigh</h3>
            <img width="600" src="https://api.mapbox.com/v4/mapbox.light/pin-l-religious-christian+285A98(-78.6375962,35.7807781)/-78.6375962,35.7807781,17/600x300@2x.png?access_token=pk.eyJ1Ijoia2FsZWJoZWl0em1hbiIsImEiOiJjaW1pcjJqZjQwMGN3dnBrZ2thMWk0OGVyIn0.vOLaUaEKM2S0TgTdBmfP-Q" alt="Mapbox Map of -78.6375962,35.7807781">
        </div>

    </div>
</section><!--/colophon-->
