<section id="colophon" class="colophon container" role="complementary">

        <div class="site-logo">
            <a href="{{ base_url_absolute }}">
                <img src="{{ url('theme://images/logo.jpg') }}" class="logo" />
            </a>
        </div>

        <div class="sunday-services">
            <h3>Sunday Services</h3>
            <ul class="menu">
                <li>8:00AM Holy Eucharist I, Chapel</li>
                <li>9:00AM Holy Eucharist II, Church</li>
                <li>11:00AM Holy Eucharist I, Church</li>
                <li>5:00PM Celtic Eucharist, Church</li>
            </ul>
        </div>

        <div class="map">
            <h3>Capitol Hill, Downtown Raleigh</h3>
            <img width="600" src="https://api.mapbox.com/v4/mapbox.light/pin-l-religious-christian+285A98(-78.6375962,35.7807781)/-78.6375962,35.7807781,17/600x300@2x.png?access_token=pk.eyJ1Ijoia2FsZWJoZWl0em1hbiIsImEiOiJjaW1pcjJqZjQwMGN3dnBrZ2thMWk0OGVyIn0.vOLaUaEKM2S0TgTdBmfP-Q" alt="Mapbox Map of -78.6375962,35.7807781">
        </div>

        <div class="address">            
            <ul>
                <li>Christ Church</li>
                <li>120 East Edenton St</li>
                <li>Raleigh, NC 27601</li>
            </ul>
            <ul>
                <li><a href="tel:9198346259"></a>(919) 834-6259</li>
            </ul>
        </div>

</section><!--/colophon.container-->
