<aside class="sidebar" role="contentinfo">
	{% block sidebar %}

	{% endblock %}

	{% if header.sidebar.events == true %}
		<h3>Upcoming Events</h3>
	{% endif %}

	{% if header.sidebar.team == true %}
		<h3>Ministry Team</h3>
	{% endif %}

</aside>